.transaction-container {
//   background-color: rgb(225, 232, 235);
  width: 80rem;
  height: 45rem;
  display: flex;
  justify-content: space-between;

  &_menus {
    // &_nav {
    //   width: 100%;
    //   margin-bottom: 1rem;
    // }
  }
}

.transaction-table {
  position: absolute;
  top: 10rem;
  width: 80rem;
}

.submit-btn{
    width: 40rem;
}

.transaction-form {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
