.dashboard-container {

  width: 70rem;

  &_left-section {
    padding: 2rem;
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, #7bff63 0%, #0056b3 100%);
    color: white;
    box-shadow: 0 0 20px rgba(0, 86, 179, 0.2);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &_right-section {
    padding: 2rem;
    height: 30rem;
    width: 50rem;
    border-radius: 1rem;
    // background: linear-gradient(135deg, #0056b3 0%, #7bff63 100%);
    color: white;
    box-shadow: 0 0 20px rgba(123, 255, 99, 0.2);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}
